[submodule "cka-and-ckad-certification-exams-practices-samp"]
	path = cka-and-ckad-certification-exams-practices-samp
	url = https://github.com/mofaizal/cka-and-ckad-certification-exams-practices-samp
